<nav>
  <ul>
    <li><%= link_to 'Match6', root_path %></li>
		<li><%= link_to 'M6slots', m6slots_path %></li>
    <li><%= link_to 'Powerball', about_path %></li>
		<li><%= link_to 'PBallslots', pballslots_path %></li>
  </ul>
</nav>
